/* general styling */

* {
  margin: 0;
  caret-color: transparent;
}

body {
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.panda-image {
  max-width: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (width<1000px) {
  .panda-image {
    display: none;
  }
}

h1 {
  color: #d74844;
  text-align: center;
  font-size: 4rem;
}

/* format welcome section */
.welcome {
  margin: 0 auto;
  text-align: center;
}

#welcome-text {
  margin: 0 auto;
  background-color: white;
  width: 800px;
}

.main-game {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
/* format game container here*/

.game-container {
  margin: 0 auto;
  margin-left: 25rem;
  border-style: solid;
  border-width: 10px;
  border-color: #d74844;
  border-radius: 2%;
  height: 500px;
  width: 700px;
  align-self: start;
  background-color: rgb(254, 188, 114);
  position: relative;
}

.game-messages {
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  background-color: white;
}

/* format player here */

#player {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* format tail behind player */

.follower {
  height: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* format ingredients here */

.ingredient {
  height: 18px;
  aspect-ratio: 1;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

/* format different types of ingredients */

.bokchoi {
  background-color: green;
}

.ginger {
  background-color: red;
}

.water {
  background-color: aqua;
}

.coriander {
  background-color: orange;
}
