/* reset styling for initialization */

:root {
  --main-color-red: #d74844;
}

*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
  font-family: "Manrope";
}

html {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 3rem;
}

body {
  margin: 0;
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* styling game title */

h1 {
  color: var(--main-color-red);
  text-align: center;
  font-size: 3rem;
  text-shadow: 4px 2px 2px rgba(31, 31, 31, 0.274);
}

/* styling sound effects section */

nav {
  height: 1rem;
  position: absolute;
  top: 0;
  left: 1rem;
  display: flex;
  & button {
    cursor: pointer;
  }
  & img {
    height: 3rem;
  }
}

/* format welcome section */
.welcome {
  text-align: center;
  width: 100%;
  padding: 25% auto;
  position: absolute;
}

#welcome-text {
  margin: 0 auto;
  background-color: var(--main-color-red);
  color: white;
  font-size: 1.5rem;
  width: 75%;
  padding: 2rem;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 5%;
  max-height: 440px;
  & h2 {
    color: white;
  }
  & ul {
    text-align: left;
    padding: 0.2rem 6rem;
  }
}

.italic {
  font-style: italic;
  font-weight: lighter;
}

#launch-game {
  font-size: 3rem;
  background-color: white;
  border-color: var(--main-color-red);
  border-width: 10px;
  border-style: solid;
  border-radius: 10%;
  color: var(--main-color-red);
}

#launch-game {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: var(--main-color-red);
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  width: 50%;
  &:hover {
    background-color: rgb(255, 211, 68);
    font-size: 3.1rem;
    letter-spacing: 4px;
    transition: all 1s;
    color: white;
    padding: 1.2rem;
  }
  &:active {
    border-width: 4px 0 0;
    background: none;
  }
}

/* pre-game */

dialog {
  width: 60%;
  text-align: center;
  & h2 {
    color: var(--main-color-red);
    font-weight: bolder;
    font-size: 2rem;
  }
  & p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  & table {
    width: 80%;
    margin: 1rem auto;
    text-align: left;
  }

  & button {
    color: white;
    font-size: 3rem;
    background-color: var(--main-color-red);
    padding: 0.5rem 2rem;
    margin: 1rem;
    &:hover {
      color: var(--main-color-red);
      background-color: white;
    }
  }

  & .emphasize {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.ingredient-name {
  font-weight: bold;
}

.ingredient-description {
  font-style: italic;
}

.yay-points {
  font-weight: bold;
  color: green;
}

.boo-points {
  font-weight: bold;
  color: red;
}
.start-game-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  & button {
    color: white;
    font-size: 4rem;
    background-color: var(--main-color-red);
    padding: 0.5rem;
    border-radius: 12%;
    margin: 1rem;
  }
  & button:hover {
    color: var(--main-color-red);
    background-color: white;
    transition: all 1s;
    border-color: var(--main-color-red);
    border-width: 1px;
    border-style: solid;
  }
}

#start-button {
  margin: 0 auto;
  font-size: 2px;
  padding: 0;
}
/* format ongoing game content here*/

#main-game {
  margin: 0 auto;
  padding-top: auto;
  padding-bottom: auto;
  width: 100%;
  height: 90%;
  box-sizing: border-box;

  /* background-color: white; */
}

.flex-display {
  display: flex;
  flex-direction: row;
}
.scores {
  min-width: 15%;
  background-color: white;
  height: 600px;
  border-style: solid;
  border-width: 10px;
  border-color: #d74844;
  background-color: white;
  border-radius: 2%;
  margin: 0 0.5rem;
}
.points-reminder {
  margin-top: 3rem;
  & img {
    height: 18px;
    aspect-ratio: 1;
    background-color: none;
    top: 0;
    left: 0;
  }
}

.game-container {
  flex: 0 0 930px;
  margin: 0 auto;
  border-style: solid;
  border-width: 10px;
  border-color: #d74844;
  border-radius: 2%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.637);
  position: relative;
}

.game-messages {
  min-width: 15%;
  max-width: 600px;
  margin: 0 0.5rem;
  height: 600px;
  border-style: solid;
  border-width: 10px;
  border-color: #d74844;
  background-color: white;
  border-radius: 2%;
  & h3 {
    font-size: 2rem;
    text-align: center;
    color: #d74844;
  }
}
@media (width < 1400px) {
  .scores {
    height: 420px;
  }
  .game-container {
    height: 420px;
    flex: 0 0 720px;
  }
  .game-messages {
    height: 420px;
  }
}

/* format player here */

#player {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
}

.right {
  background-image: url("../img/player/player-walking-right-1.png");
}
.top {
  background-image: url("../img/player/player-walking-top-1.png");
}
.down {
  background-image: url("../img/player/player-walking-down-1.png");
}
.left {
  background-image: url("../img/player/player-walking-left-1.png");
}
/* format tail behind player */

.follower {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../img/plate.png);
  position: absolute;
  top: 0;
  left: 0;
}

/* format ingredients here */

.ingredient {
  height: 30px;
  font-size: 1.5rem;
  aspect-ratio: 1;
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* format different types of ingredients */

.good-ingredient {
  filter: drop-shadow(0 0 0.75rem yellow);
}
.bad-ingredient {
  filter: drop-shadow(0 0 0.75rem red);
}

.coriander {
  background-image: url("../img/ingredients/coriander.png");
  background-size: cover;
  /* box-shadow: 0px 0px 40px 20px red; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

/* format pause */

#game-paused {
  background-color: rgba(201, 26, 26, 0.829);
  border-style: ridge;
  border-color: red;
  border-width: 5px;
  width: 60%;
  height: 60%;
  position: absolute;
  padding: 5% 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & div {
    text-align: center;
    & img {
      height: 10rem;
    }
  }
  & h3 {
    font-size: 4rem;
    color: white;
    text-align: center;
    align-self: center;
  }
  & p {
    text-align: center;
    font-size: 3rem;
  }
}

/* after game  */

.after-game {
  position: absolute;
  padding: 5% 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  width: 60%;
  height: 70%;
  text-align: center;
  box-shadow: 10px 5px 4px rgba(39, 34, 34, 0.466);
  & h2 {
    margin-top: 0.5rem;
    font-size: 3rem;
    text-shadow: 6px 3px 3px rgba(97, 90, 91, 0.384);
  }
  & p {
    font-size: 2rem;
  }
  & #restart-game-current {
    background-color: var(--main-color-red);
    border: 1px solid transparent;
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.25%;
    cursor: pointer;
    color: white;
    justify-content: center;
    box-shadow: 3px 5px 4px rgb(129, 122, 122);
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    &:active {
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    }
  }
}

#restart-game-other {
  height: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  &:hover {
    color: var(--main-color-red);
    transition: all 1s;
  }
}

#end-current-high-score {
  color: var(--main-color-red);
  font-weight: bolder;
}

#final-score {
  color: var(--main-color-red);
  font-weight: bolder;
}
#try-again {
  font-style: italic;
  font-size: 2rem;
}
