/* general styling */

* {
  margin: 0;
  caret-color: transparent;
}

body {
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  max-height: 800px;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* styling panda section */

.panda-says {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 350px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.panda-image {
  max-width: 20rem;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

.speech-bubble {
  /* position: absolute; */
  bottom: 20;
  left: 0;
}

@media (width<1000px) {
  .panda-image {
    display: none;
  }
}

h1 {
  color: #d74844;
  text-align: center;
  font-size: 3rem;
}

/* format welcome section */
.welcome {
  margin: 0 auto;
  text-align: center;
}

#welcome-text {
  margin: 0 auto;
  background-color: white;
  width: 800px;
}

.main-game {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#start-button {
  position: absolute;
  margin: 0 auto;
}
/* format game container here*/

.game-container {
  margin: 0 auto;
  margin-left: 25rem;
  border-style: solid;
  border-width: 10px;
  border-color: #d74844;
  border-radius: 2%;
  height: 600px;
  width: 900px;
  background-color: rgb(254, 188, 114);
  position: relative;
}

.game-messages {
  margin: 0 auto;
  width: 300px;
  height: 600px;
  padding: 10px;
  background-color: white;
}

/* format player here */

#player {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* format tail behind player */

.follower {
  height: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
}

/* format ingredients here */

.ingredient {
  height: 40px;
  aspect-ratio: 1;
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* format different types of ingredients */

.bokchoi {
  background-image: url(../img/bokchoi.png);
  background-size: contain;
}

.ginger {
  background-image: url(../img/ginger.png);
  background-size: contain;
}

.water {
  background-image: url(../img/glass-water.png);
  background-size: cover;
}

.coriander {
  background-color: orange;
}
